@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');

* {
    margin:0;
    padding: 0;
}

body {
    cursor: crosshair;
    font-family: "inter", sans-serif;
}

/*logo and nav*/

.active {
    border-bottom: 1px solid #f2fdff;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #0d0d0d;
}

#logo {
    float: left;
    text-decoration: none;
    color: #fff;
    font-family: "Tiro Bangla", sans-serif;
    margin: 15px 0 15px 30px;
}

#nav,#logo {
    line-height: 40px;
}

#nav li {
    float:right;
    list-style: none;
    margin: 15px 30px 15px 0;
}

#nav a {
    color: #f2fdff;
    text-decoration: none;
    font-family: "inter", sans-serif;
    font-size: 110%;
    font-weight: 500;
}

#contact-border {
    border: 2px solid #f2fdff;
    padding: 6px 30px 6px 30px;
    text-align: center;
}

/* hover logo and nav*/

#logo:hover {
    cursor: cell;
}

#nav a:hover {
    color: #adf3ff;
    cursor: cell;
}

#contact-border:hover {
    border-color: #f2fdff;
    border: 2px double;
}





/*hero image and text*/

#hero {
    width: 100%;
    height: 600px;
    background-color: #0d0d0d;
}

#hero-text {
    color: #fff;
    font-family: "inter", sans-serif;
    
}

#hero-text h2 {
    font-size: 400%;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    padding: 80px 20px 20px 20px;
}

#hero-text h4 {
    font-size: 100%;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    padding: 0 300px 0 300px;
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 150%;
}

#hero-image {
    background: url(../image/pexels-felipe-ribeiro-2271683.jpg) no-repeat center center;
    height: 400px;
    background-size: 100%;
    margin: 20px 50px 20px 50px;
}

#read-more {
    float: right;
    margin: -460px 30px 15px 0;
}

#read-more a {
    color: white;
    font-size: 150%;
    text-decoration: none;
    
}

.fa-solid {
    color: white;
    font-size: 100%;
    padding-right: 5px;
}

#read-more a:hover {
    color: #adf3ff;
    cursor: cell;
}

.fa-solid:hover {
    color: #adf3ff;
    cursor: cell;
}




/*about us*/

#about-us {
    width: 100%;
    height: 600px;
}

#left-about {
    width: 50%;
    height: 600px;
    background-color: #fcfcfc;
    float: left;
}

#right-about {
    width: 50%;
    height: 600px;
    background-color: #fcfcfc;
    float: right;
}

#right-about h2 {
    padding: 110px 0 20px 20px;
    word-spacing: 5px;
    letter-spacing: 2px;
    float: left;
    font-size: 200%;
}
#right-about p {
    padding: 0 30px 20px 20px;
    word-spacing: 5px;
    letter-spacing: 2px;
    float: left;
    font-size: 130%;
    line-height: 150%;
}

#right-about .fa-solid {
    color: black;
}

#img {
    background: url(../image/pexels-yentl-jacobs-157811.jpg) no-repeat center center;
    width: 100%;
    height: 600px;
    background-size: 100%;
    margin-left: 30px;
}

#right-about a {
    padding: 0 30px 20px 20px;
    word-spacing: 5px;
    letter-spacing: 2px;
    float: left;
    font-size: 100%;
    text-decoration: none;
    color: #000;
}

#right-about a:hover {
    cursor: cell;
    color: #395155;
    font-size: 110%;
    transition: .04s;
}

#right-about .fa-solid:hover {
    cursor: cell;
    color: #395155;
}


/*footer*/

#footer {
    width: 100%;
    height: 100px;
    background-color: #0d0d0d;
}

#footer-text {
    color: #fff;
    text-align: center;
    font-size: 120%;
    margin: 100px;
}

#footer-text h6 {
   padding: 40px;
}

/*media queries*/



/*Contact Page and form*/

#contact-page {
    width: 100%;
    height: 900px;
    background-color: #0d0d0d;
}

form {
    color:#fff;
    padding: 50px 0 10px 0;
    width: 400px;
    height: 600px;
    background-color: #3951555a;
    margin: 0 auto;
}

#fname {    
    margin-bottom: 20px;
    width: 250px;
    height: 20px;
    
}

#lname {
    margin-bottom: 20px;
    width: 250px;
    height: 20px;
}

#email {
    margin-bottom: 20px;
    width: 250px;
    height: 20px;
}

#message {
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 250px;
    height: 20px;
}

/* gallery*/

#gallery {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    background-color: #0d0d0d;
}

#gallery > img {
    width: 100%;
}

img:hover {
    transform: scale(1.02);
    transition: .3s;
}

#footer2 {
    width: 100%;
    height: 100px;
    background-color: #0d0d0d;
}

#footer-text2 {
    color: #fff;
    text-align: center;
    font-size: 120%;
    margin: 0;
}

#footer-text2 h6 {
   padding: 40px;
}